anyio==4.15.1
cffi==2.1.1
click==8.5.0
colorama==0.4.6
filelock==4.0.12
flatbuffers==25.12.19
fsspec==2026.9.0
h11==0.16.0
hf-xet==1.7.0
httpcore2==2.13.1
httpx2==2.13.1
huggingface_hub==2.2.0
idna==3.20
numpy==2.5.3
onnxruntime==1.30.0
packaging==26.3
protobuf==7.36.2
pycparser==3.1
PyYAML==6.0.3
soundfile==0.14.0
supertonic @ git+https://github.com/supertone-oss-archive/supertonic-py.git@df0f9686dac7fbbde391b759e2ee5286a3737622
tqdm==4.70.1
truststore==0.10.4
typing_extensions==4.16.0
